* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root  {
    --dark: #191c24;
    --black: #18181B;
    --profile-blue: #BAE6FD;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #F3F4F6;
    background: var(--dark);
}

.dashboard-cotaniner {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "sidebar header header"
                         "sidebar main updates"
                         "sidebar main trending"
                         "footer footer footer";
    
}

.dashboard-sidebar {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;
    background: var(--dark);
    grid-area: sidebar;
}

.dashboard-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-area: main;
    background: #111111;
    gap: 20px;

}

.dashboard-main a {
    text-decoration: none;
}

.dashboard-main .card {
    background-color: var(--dark);
    padding: 20px;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    grid-area: header;
    
}

.dashboard-header * {
    gap: 20px;
    padding: 3px;
}

.dashboard-header > div {
    padding-left: 20px;
}

.header-upper {
    display: flex;
    align-items: center;
}


.header-upper.right {
    justify-content: flex-end;
    gap: 2rem;
    padding: 

}

.dashboard-header input[type="text"] {
    flex:1;
    height:2rem;
    background-color: #E2E8F0;
    border-radius: 1em;
}

.dashboard-header button {
    height: 40px;
    width: 90px;
    border-radius: 30px;
    background-color: #60A5FA;
    border: none;
    color: #E2E8F0;
    font-weight: 700
}


.header-bottom {
    display: flex;
}

.header-bottom.left {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.header-bottom.right {
    justify-content: flex-end;
    align-items: center;
}



.dashboard-sidebar > .dashboard-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard-sidebar > .dashboard-features {
    display: grid;
    flex-direction: column;
    grid-template-rows: auto;
}

.dashboard-footer {
    grid-area: footer;
    background-color: #171717;
    color: white
}

.dashboard-trending {
    grid-area: trending;
}


.dashboard-updates {
    grid-area: updates;
}



div {
    text-align: center;
    border: 1px solid black;
}

#icon-placeholder {
    background-color: green;
    text-align: center;
    height: 100px;
    width: 100px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.default {
    background-color: var(--profile-blue);
}