@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root  {
    --dark: #191c24;
    --black: #18181B;
    --profile-blue: #BAE6FD;
}

html {
    font-family: "Koulen",cursive, arial, sans-serif;
    font-size: 18px;
    color: #D4D4D8;
    background: var(--dark);
}
/*
div {
    text-align: center;
    /*border: 2px solid white;
}

*/

svg {
    width: 36px;
    height: 36px;
}

.dashboard-sidebar,
.dashboard-header,
.dashboard-main,
.dashboard-trending,
.dashboard-updates {
    background-color: var(--dark);
}

.dashboard-cotaniner {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "sidebar header header"
                         "sidebar main updates"
                         "sidebar main trending"
                         "footer footer footer";
    background-color: var(--black);
    gap: 20px;
    
}

.dashboard-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.dashboard-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    flex-wrap: wrap;
    font-weight: 900;
    margin-top: 50px;
}

.dashboard-features,
.dashboard-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 20px;
}



.dashboard-feature,
.dashboard-option {
    padding:3px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    
}

.dashboard-feature:hover,
.dashboard-option:hover {
    border-radius: 10px;
    background-color: #352A69;
}

.dashboard-sidebar img,
.dashboard-sidebar svg {
    height: 36px;
    width: 36px;
}


.dashboard-brand img {
    height: 120px;
    width: 120px;
}



.dashboard-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    grid-area: header;
    border-bottom: 5px solid #52525B;
    font-weight: 800;
    

    
}

.dashboard-header > div {
    gap: 20px;
    padding: 20px 3px 3px 3px;
    margin: 0px 30px;
}

.header-upper {
    display: flex;
    font-size: 24px;
}



.header-upper.right {
    justify-content: flex-end;
    gap: 2rem;

}

.dashboard-header input[type="text"] {
    flex:1;
    height:2rem;
    background-color: #E2E8F0;
    border-radius: 1em;
}

.dashboard-header button {
    height: 40px;
    width: 105px;
    border-radius: 30px;
    background-color: #60A5FA;
    border: none;
    color: #E2E8F0;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


.dashboard-header button:hover{
    background-color: #E2E8F0;
    color: #60A5FA;
}


.header-bottom {
    display: flex;

}

.header-bottom.left {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.header-bottom.right {
    justify-content: flex-end;
    align-items: center;
}

.dashboard-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-area: main;
    background: var(--black);
    gap: 20px;
}


.dashboard-main a {
    text-decoration: none;
}

.dashboard-main .card {
    background-color: var(--dark);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border-left: 12px solid #352A69;
}

.dashboard-main h3 {
    font-size: 28px;
    text-align: left;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-top: 36px;
}

.card-icons svg:hover {
    background-color: #352A69;
    cursor: pointer;
}


.dashboard-updates {
    grid-area: updates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    padding: 5px 20px;
    overflow-x: scroll;
}

.dashboard-updates .update {
    text-align: left;
    border-bottom: 2px solid grey;
}

.update:last-child {
    border: 0;

}

.dashboard-trending {
    grid-area: trending;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    padding: 5px 20px;
    height: fit-content;
}

.trending-user {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 5px;
}

.trending-user span {
    opacity: .4;
}

.dashboard-footer {
    grid-area: footer;
    background-color: #171717;
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}


.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.default {
    background-color: var(--profile-blue);
}